- form_for @invite do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :first_name
      = f.text_field :first_name
    %li
      = f.label :last_name
      = f.text_field :last_name
    %li
      = f.label :email
      = f.text_field :email
    %li
      %button.button.save{:type => 'submit'}
        Save