- title "Invites"

%section.item_list
  =link_to "New Invite", new_invite_path, :class=>'button add'
  %h3 Invites
  %ul
    - for invite in @invites
      %li
        = link_to 'Edit', edit_invite_path(invite), :class=>'button manage'
        = invite.first_name
        = invite.last_name
        = "(#{invite.email})"
        - if invite.invited? && invite.redeemed_at.blank?
          %span.disabled
            Invited
            = invite.invited_at
        - elsif invite.invited? && invite.redeemed_at
          %span.disabled
            Redeemed 
            = invite.redeemed_at
        - else
          = link_to 'Invite', send_invitation_path(invite), :confirm => 'Send invitation?', :method => :post, :class=>'button invite'