-form_for :session, :url => session_path do |form|
  %ol
    %li
      %h3= t('authentication.sessions.new.header')
    %li
      = form.label :email, t('authentication.sessions.new.form.username')
      = form.text_field :email
    %li
      = form.label :password, t('authentication.sessions.new.form.password')
      = form.password_field :password
    %li.checkbox
      = form.label :remember_me, t('authentication.sessions.new.form.remember')
      = check_box_tag('session_remember_me', '1', true, {:class => 'checkbox', :name => "session[remember_me]"})
    %li
      %button.button{:type => 'submit'} 
        =t('authentication.sessions.new.form.submit')
      = link_to t('authentication.sessions.new.form.forgot_password'), new_password_path, :class=>'account_link'
