- form_for [current_user, @event, @track] do |f|
  %ol
    %li
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :description
      = f.text_field :description
    %li
      = f.label :published
      = f.check_box :published
    %li
      = f.submit
