-title "Tracks"

- unless current_subdomain.blank?
  %table
    %tr
      %th Title
      %th Description
    - for track in @tracks
      %tr
        %td=link_to track.title, track_path(track)
        %td= h track.description
- else

  %section.item_list
    = link_to "New Event Track", new_user_event_track_path, :class=>'button add'
    %h3 Your Event Tracks
    %ul
      - for track in @tracks
        %li{:class=> track.published ? '':'disabled'}
          = link_to 'Edit', edit_user_event_track_path(current_user, @event, track), :class=>'button manage'
          = track.title
          = link_to 'Delete', user_event_track_path(current_user, @event, track), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'