- title "Programme of talks | #{@event.title}" 

- unless current_subdomain.blank?

  - for track in @tracks
    -if track.published_talks.any?
      %h4=link_to track.title, track_path(track)
      = markdown track.description
      %table.programme
        -@old_date = nil
        -for talk in track.published_talks
          -if talk.start.to_date != @old_date
            %tr.date_header
              %td{:colspan => 4}= h talk.start.to_date.to_s(:short)
          - @old_date = talk.start.to_date
          = render talk
        
  -if @tracks.any? &&  @untracked_talks.any?
    %h4 Untracked talks
  %table.programme
    -for talk in @untracked_talks
      -if talk.start.to_date != @old_date
        %tr.date_header
          %td{:colspan => 4}= h talk.start.to_date.to_s(:short)
      - @old_date = talk.start.to_date
      = render talk
      
- else

  %section.item_list
    = link_to "New Track", new_user_event_track_path, :class=>'button add'
    %h3 Your Event Tracks
    #ajax_status
    %ul#sortable{:data => {:user_id => current_user.id, :event_id => @event.id, :model => 'tracks'}}
      - for track in @tracks
        %li[track]{:class=> track.published ? '':'disabled'}
          = link_to 'Edit', edit_user_event_track_path(current_user, @event, track), :class=>'button manage'
          = track.title
          %span
            = "/tracks/#{track.cached_slug}"
          = link_to 'Delete', user_event_track_path(current_user, @event, track), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'