-title "Tracks"

- unless current_subdomain.blank?

  - for track in @tracks
    %h4=link_to track.title, track_path(track)
    = simple_format track.description
    %table.programme
      -@old_date = nil
      -for talk in track.published_talks
        -if talk.start.to_date != @old_date
          %tr.date_header
            %td{:colspan => 4}= h talk.start.to_date.to_s(:short)
        - @old_date = talk.start.to_date
        %tr
          %td.start= h talk.start.to_s(:time)
          %td.end
            -unless talk.duration.blank? || talk.duration < 1
              = (talk.start.to_time + talk.duration.minutes).to_s(:time)
          %td
            %ul
              %li.header
                %h4= link_to talk.title, talk
              -if talk.speakers.any?
                %li.speakers= talk.speakers.map { |s| "<a href='#{speaker_path(s)}'>#{s.name}</a>"}.to_sentence
              -unless talk.description.blank?
                %li.description= h talk.description
          %td.venue= link_to talk.venue.name, venues_path unless talk.venue.blank?
      
- else

  %section.item_list
    = link_to "New Track", new_user_event_track_path, :class=>'button add'
    %h3 Your Event Tracks
    #ajax_status
    %ul#sortable{:data => {:user_id => current_user.id, :event_id => @event.id, :model => 'tracks'}}
      - for track in @tracks
        %li[track]{:class=> track.published ? '':'disabled'}
          = link_to 'Edit', edit_user_event_track_path(current_user, @event, track), :class=>'button manage'
          = track.title
          %span
            = "/tracks/#{track.cached_slug}"
          = link_to 'Delete', user_event_track_path(current_user, @event, track), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'