- title "Programme of talks | #{@event.title}" 

- unless current_subdomain.blank?
  
  - @tracks.each do |track, track_talks|
    - if track
      %h4.fontface_header= track.title
    - elsif @tracks.many?
      %h4.fontface_header Untracked        
    - track_talks.group_by{|t| t.start.to_date }.each do |date, day_talks|
      %section.programme_day
        %h5.day_header= date.to_s(:programme_header)
        %table.programme  
          - day_talks.each do |talk|
            %tr
              %td.time
                =talk.start.to_s(:time)
                -unless talk.duration.blank? || talk.duration < 1
                  \-
                  = (talk.start.to_time + talk.duration.minutes).to_s(:time)
              %td.description
                %ul
                  %li.header
                    %h4= link_to talk.title, talk
                  -if talk.speakers.any?
                    %li.speakers= talk.speakers.map { |s| "<a href='#{speaker_path(s)}'>#{s.name}</a>"}.to_sentence
                  -unless talk.venue.blank? 
                    %li.venue= link_to "#{talk.venue.name}", venues_path

- else

  %section.item_list
    = link_to "New Track", new_user_event_track_path, :class=>'button add'
    %h3 Your Event Tracks
    #ajax_status
    %ul#sortable{:data => {:user_id => current_user.id, :event_id => @event.id, :model => 'tracks'}}
      - for track in @tracks
        %li[track]{:class=> track.published ? '':'disabled'}
          = link_to 'Edit', edit_user_event_track_path(current_user, @event, track), :class=>'button manage'
          = track.title
          %span
            = "/tracks/#{track.cached_slug}"
          = link_to 'Delete', user_event_track_path(current_user, @event, track), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'