- title "Venue Types"

%section.item_list
  = link_to "New Event Type", new_user_event_venue_type_path, :class=>'button add'
  %h3 Your Event Venue Types
  %ul
    - for venue_type in @owned_venue_types
      %li
        = link_to 'Edit', edit_user_event_venue_type_path(current_user, @event, venue_type), :class=>'button manage'
        = venue_type.name
        = link_to 'Delete', user_event_venue_type_path(current_user, @event, venue_type), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'

%section.item_list
  %h3 Global Event Venue Types
  %ul
    - for venue_type in @global_venue_types
      %li
        = venue_type.name