- form_for [current_user, @event, @talk] do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :description
      = f.text_area :description
    %li.date
      = f.label :start
      = f.datetime_select :start
    %li
      = f.label :duration
      = f.text_field :duration
    %li.select
      = f.label :track_id
      = f.collection_select :track_id, @tracks, :id, :title, {:prompt => true}
    -unless @venues.blank?
      %li.select
        = f.label :venue_id
        = f.collection_select :venue_id, @venues, :id, :name, {:prompt => true}
    %li.checkbox
      = f.label :published
      = f.check_box :published
    %li
      %button{:type => 'submit'}
        Save