- form_for [current_user, @event, @talk] do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :description
      = f.text_area :description
    %li.date
      %label{:for => "start_date"} Start Date
      %input{:class => "datepicker", :name => "start_date", :id => "start_date", :value => @talk.start.blank? ? @event.start_date : @talk.start.to_date.to_s(:form_display)}
      %label{:for => "start_hour"} Start Time (24hr)
      %input{:class => "time_input", :name => "start_hour", :id => "start_hour", :value => @talk.start.blank? ? "09" : @talk.start.strftime("%H")}
      = ":"
      %input{:class => "time_input", :name => "start_min", :value => @talk.start.blank? ? "00" : @talk.start.strftime("%M")}

    %li
      = f.label :duration, "Duration (minutes)"
      = f.text_field :duration    
    -unless @tracks.blank?
      %li.select
        = f.label :track_id
        = f.collection_select :track_id, @tracks, :id, :title, {:prompt => true, :include_blank => true}
        %p.optional
          optional
    -unless @venues.blank?
      %li.select
        = f.label :venue_id
        = f.collection_select :venue_id, @venues, :id, :name, {:prompt => true, :include_blank => true}
        %p.optional
          optional
    %li.ticklist
      %label
        Speakers taking part in this talk
      %p.optional
        optional
      %ul
        - if @speakers
          - @speakers.each do |speaker|
            %li
              = check_box_tag "talk[speaker_ids][]", speaker.id, talk_has_speaker?(speaker)
              = speaker.name
    %li.published
      This talk is
      %em{:class => @talk.published ? "visible" : "hidden"}
        = @talk.published ? "Visible" : "Hidden"
      %span
        = f.label :published, "Show"
        = f.check_box :published
    %li
      %button.button.save{:type => 'submit'}
        Save