- unless current_subdomain.blank?
  %table.events
    =render @talks
- else
  %section.item_list
    = link_to "New Talk", new_user_event_talk_path, :class=>'button add'
    %h3 Your Event talks
    %ul
      - for talk in @talks
        %li{:class=> talk.published ? '':'disabled'}
          = link_to 'Edit', edit_user_event_talk_path(current_user, @event, talk), :class=>'button manage'
          = talk.title
          %span.live_edit
            - form_for [current_user, @event, talk] do |f|
              = f.label :start
              = f.time_select :start
              = f.label :duration
              = f.text_field :duration
              %button{:type => 'submit'}
                Update            
          = link_to 'Delete', user_event_talk_path(current_user, @event, talk), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'