- unless current_subdomain.blank?
  - title @talk.title

  %p
    %strong Title:
    =h @talk.title
  %p
    %strong Description:
    =h @talk.description
  %p
    %strong Start:
    =h @talk.start
  %p
    %strong Duration:
    =h @talk.duration
  %p
    %strong Track:
    =h @talk.track_id
  %p
    %strong Published:
    =h @talk.published
    
  %h3 Speakers

  %table
    %tr
      %th Name
      %th Biog
    - for speaker in @speakers
      %tr
        %td= image_tag speaker.portrait.url(:thumb)
        %td= h speaker.name
        %td= h speaker.biog

  %h3 Videos

  %table
    %tr
      %th Title
      %th Description
      %th Vimeo
    - for video in @videos
      %tr
        %td= link_to video.title, talk_video_path(@talk, video)
        %td= h video.description
        %td= h video.vimeo_id