- form_for [current_user, @event, @talk, @video] do |f|
  %ol
    %li
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :description
      = f.text_area :description
    %li
      = f.label :vimeo_id
      = f.text_field :vimeo_id
    %li.checkbox
      = f.label :published
      = f.check_box :published
    %li
      %button.button.save{:type => 'submit'}
        Save