- form_for [current_user, @event, @event_page] do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :content
      = f.text_area :content
    %li.asset_list
      = render 'shared/assets_list'
    %li.published
      This page is
      %em{:class => @event_page.published ? "visible" : "hidden"}
        = @event_page.published ? "Visible" : "Hidden"
      %span
        = f.label :published, "Show"
        = f.check_box :published
    %li
      %button.button.save{:type => 'submit'}
        Save