- form_for [current_user, @event, @event_page] do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :content
      = f.text_area :content
    %li.checkbox
      = f.label :published
      = f.check_box :published
    %li
      %button.button.save{:type => 'submit'}
        Save