- title "Event Pages"

%table
  %tr
    %th Title
    %th Content
    %th Event
    %th Published
  - for event_page in @event_pages
    %tr
      %td= h event_page.title
      %td= h event_page.content
      %td= h event_page.event_id
      %td= h event_page.published
      %td= link_to 'Edit', edit_user_event_event_page_path(current_user, @event, event_page)
      %td= link_to 'Destroy', user_event_event_page_path(current_user, @event, event_page), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Event Page", new_user_event_event_page_path
%p= link_to "Back to Event", user_event_path(current_user, @event)
