- title "Event Pages"

%section.item_list
  = link_to "New Page", new_user_event_event_page_path, :class=>'button add'
  %h3 Your Event Pages
  #ajax_status
  %ul#sortable{:data => {:user_id => current_user.id, :event_id => @event.id, :model => 'event_pages'}}
    - for event_page in @event_pages
      %li[event_page]{:class=> event_page.published ? '':'disabled'}
        = link_to 'Edit', edit_user_event_event_page_path(current_user, @event, event_page), :class=>'button manage'
        = event_page.title
        %span
          = "/#{event_page.cached_slug}"
        = link_to 'Delete', user_event_event_page_path(current_user, @event, event_page), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'