- form_for [current_user, @event], :html => { :multipart => true } do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :tagline
      = f.text_field :tagline
    %li.subdomain
      = f.label :subdomain
      = "http:// #{f.text_field :subdomain} .#{current_domain}"
    %li.date
      = f.label :start_date
      = f.text_field :start_date, :class => "datepicker", :value =>@event.start_date ? @event.start_date.to_s(:form_display) : ''
    %li.date
      = f.label :end_date
      = f.text_field :end_date, :class => "datepicker", :value =>@event.end_date ? @event.end_date.to_s(:form_display) : ''
    %li
      = f.label :description
      = f.text_area :description
  %ol
    %li
      = f.label :google_analytics, "Google Analytics UA# <span>eg. UA-1234567-8</span>"
      = f.text_field :google_analytics
    %li
      = f.label :booking_url, "Booking service url <span>eg. an Eventbrite URL</span>"
      = f.text_field :booking_url
    %li
      = f.label :twitter_account, "Twitter account <span>eg. @awesomeevent</span>"
      = f.text_field :twitter_account
    %li
      = f.label :hashtag, "Twitter hashtag <span>eg. #awesome2010</span>"
      = f.text_field :hashtag
    %li
      = f.label :contact_form_email, "Contact form email address <span>eg. contact@awesomeevent.com</span>"
      = f.text_field :contact_form_email
    %li
      = f.label :contact_description
      = f.text_area :contact_description
  %ol
    %li.image_upload
      -if @event.logo?
        = image_tag(@event.logo.url(:tiny))
      = f.label :logo, "Event Logo (Resized to display within 580px x 100px)"
      = f.file_field :logo
    %li.checkbox
      = f.check_box :remove_logo
      = f.label :remove_logo, "Delete logo image"
    / %li.theme
    /   %label Choose a theme
    /   %ul
    /     %li
    /       = f.radio_button(:theme_name, "paper")
    /       = f.label :theme_name, "Paper", :value=>'paper'
    /     %li
    /       = f.radio_button(:theme_name, "flat_white")    
    /       = f.label :theme_name, "Flat White", :value=>'flat_white'
    /     %li
    /       = f.radio_button(:theme_name, "intersections")    
    /       = f.label :theme_name, "Intersections", :value=>'intersections'
    %li.colours
      = f.label :title_colour
      = f.text_field :title_colour, :class => "colorwell"
      = f.label :link_colour
      = f.text_field :link_colour, :class => "colorwell"
      #picker
    %li.published
      This event is
      %em{:class => @event.published ? "visible" : "hidden"}
        = @event.published ? "Visible" : "Hidden"
      %span
        = f.check_box :published
        = f.label :published, "Show"
    %li
      %button.button.save{:type => 'submit'}
        Save