- form_for [current_user, @event] do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :tagline
      = f.text_field :tagline
    %li.subdomain
      = f.label :subdomain
      = "http:// #{f.text_field :subdomain} .#{current_domain}"
    %li
      = f.label :twitter_account
      = f.text_field :twitter_account
    %li
      = f.label :hashtag
      = f.text_field :hashtag
    %li.date
      = f.label :start_date
      = f.text_field :start_date, :class => "datepicker"
    %li.date
      = f.label :end_date
      = f.text_field :end_date, :class => "datepicker"
    %li
      = f.label :description
      = f.text_area :description
    %li.colours
      = f.label :title_colour
      = f.text_field :title_colour, :class => "colorwell"
      = f.label :link_colour
      = f.text_field :link_colour, :class => "colorwell"
      = f.label :header_style
      = f.select :header_style, %w{league komika}, {:prompt => true, :include_blank => true}
      #picker
    %li.checkbox
      = f.label :published
      = f.check_box :published
    %li
      %button.button.save{:type => 'submit'}
        Save