- form_for [current_user, @event] do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :tagline
      = f.text_field :tagline
    %li.subdomain
      = f.label :subdomain
      = "http:// #{f.text_field :subdomain} .#{current_domain}"
    %li
      = f.label :twitter_account, "Twitter account <span>eg. @awesomeevent</span>"
      = f.text_field :twitter_account
    %li
      = f.label :hashtag, "Twitter hashtag <span>eg. #awesome2010</span>"
      = f.text_field :hashtag
    %li.date
      = f.label :start_date
      = f.text_field :start_date, :class => "datepicker", :value =>@event.start_date ? @event.start_date.to_s(:form_display) : ''
    %li.date
      = f.label :end_date
      = f.text_field :end_date, :class => "datepicker", :value =>@event.end_date ? @event.end_date.to_s(:form_display) : ''
    %li
      = f.label :description
      = f.text_area :description
    %li.colours
      / = f.label :theme_name, "Paper", :value=>'paper'
      / = f.radio_button(:theme_name, "paper")
      = f.label :title_colour
      = f.text_field :title_colour, :class => "colorwell"
      = f.label :link_colour
      = f.text_field :link_colour, :class => "colorwell"
      #picker
    %li.published
      This event is
      %em{:class => @event.published ? "visible" : "hidden"}
        = @event.published ? "Visible" : "Hidden"
      %span
        = f.label :published, "Show"
        = f.check_box :published
    %li
      %button.button.save{:type => 'submit'}
        Save