- form_for [current_user, @event] do |f|
  %ol
    %li.errors
      = f.error_messages
    %li
      = f.label :title
      = f.text_field :title
    %li.subdomain
      = f.label :subdomain
      = "http:// #{f.text_field :subdomain} .#{current_domain}"
    %li
      = f.label :hashtag
      = f.text_field :hashtag
    %li.date
      = f.label :start_date
      = f.date_select :start_date
    %li.date
      = f.label :end_date
      = f.date_select :end_date
    %li.checkbox
      = f.label :published
      = f.check_box :published
    %li
      %button{:type => 'submit'}
        Save