- title "Your events on Eventstreams"

%section.item_list.events
  =link_to "New Event", new_user_event_path(current_user), :class=>'button add'
  %h3 Your Events
  %ul
    - for event in @events
      %li{:class=> event.published ? '':'disabled'}
        = link_to 'Manage', edit_user_event_path(current_user, event), :class=>'button manage'
        = event.title
        - unless event.start_date.blank?
          %abbr.date
            = event.start_date.to_date.to_s(:dmy_long)

        = link_to event_root_url(:subdomain => event.subdomain), event_root_url(:subdomain => event.subdomain), :class => event.published ? 'event_link active' : 'event_link disabled'

        = link_to 'Delete', user_event_path(current_user, event), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'