- unless current_subdomain.blank?
  - title @event.browser_title
  %section.overview
    %article.description
      = auto_link(markdown(@event.description))
    -if @speakers
      %h4.league_header 
        =link_to "The speakers", speakers_path
      %ul.speakers_inline
        - @speakers.each_with_index do |speaker, index| 
          %li.speaker{:class => (index+1) % 5  == 0 ? "last" : ""}
            = link_to "#{image_tag speaker.portrait.url(:thumb)}<span>#{speaker.name}</span>", speaker
        
  %section.event_meta
    -if @venues.any?
      .map_wrap.homepage
        #map_canvas
        %ul.venues
          - for venue in @venues
            %li.location{:data => {:lat => venue.lat, :lng => venue.lng, :venue_name => venue.name}}
              = h venue.name
    -if @tweets.any?
      %section.tweets
        %h4.league_header
          =link_to "Latest on <span>Twitter</span>", tweets_path
        %ul
          - for tweet in @tweets
            %li.tweet
              %a{:href => "http://twitter.com/#{tweet.twitter_user_name}"}
                %img{:src=> tweet.avatar, :width=>36 }
              %span.tweet= auto_link(tweet.text)
              %span.meta
                Posted by
                = link_to "@#{tweet.twitter_user_name}", "http://twitter.com/#{tweet.twitter_user_name}"
                = link_to pretty_time_ago(tweet.created_at), "http://twitter.com/#{tweet.twitter_user_name}/status/#{tweet.twitter_id}"  