- unless current_subdomain.blank?
  - title @event.browser_title
  %section.overview
    %article.description
      = markdown(@event.description)
    -if @speakers
      %ul.speakers_inline
        - @speakers.each_with_index do |speaker, index| 
          %li.speaker{:class => (index+1) % 4  == 0 ? "fourth" : ""}
            = image_tag speaker.portrait.url(:thumb)
            = link_to "<span>#{speaker.name}</span>", speaker
        
  %section.event_meta
    -if @venues
      #map_canvas.homepage
      %ul.venues
        - for venue in @venues
          %li.location{:data => {:lat => venue.lat, :lng => venue.lng, :venue_name => venue.name}}
            = h venue.name
    -if @tweets.any?
      %section.tweets
        %h4 
          Latest on
          =link_to "Twitter", tweets_path
        %ul
          - for tweet in @tweets
            %li.tweet
              %img{:src=> tweet.avatar, :width=>36 }
              %span.tweet= tweet.text