- unless current_subdomain.blank?
  - title @event.browser_title
  %section.overview
    %article.description
      =simple_format @event.description
    -if @speakers
      %ul.speakers
        - for speaker in @speakers
          %li.speaker
            = image_tag speaker.portrait.url(:thumb)
            = link_to "<span>#{speaker.name}</span>", speaker
  %section.event_meta
    -if @venues
      #map_canvas.homepage
      %ul.venues
        - for venue in @venues
          %li.location{:data => {:lat => venue.lat, :lng => venue.lng, :venue_name => venue.name}}
            = h venue.name
    -if @tweets
      %section.tweets
        %h4 
          Latest on 
          =link_to @event.hashtag, tweets_path
        %ul
          - for tweet in @tweets
            %li.tweet
              %img{:src=> tweet.avatar, :width=>36 }
              %span.tweet= h tweet.text
 