- form_for [current_user, @event, @venue] do |f|
  %ol
    %li
      = f.error_messages
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :description, "Directions"
      = f.text_area :description
    -unless @venue_types.blank?
      %li.select
        = f.label :venue_type_id
        = f.collection_select :venue_type_id, @venue_types, :id, :name, {:prompt => true}
    %li
      = f.label :address_1
      = f.text_field :address_1
    %li
      = f.label :address_2
      = f.text_field :address_2
    %li
      = f.label :address_3
      = f.text_field :address_3
    %li
      = f.label :city
      = f.text_field :city
    %li
      = f.label :county
      = f.text_field :county
    %li
      = f.label :country
      = f.text_field :country
    %li
      = f.label :postcode
      = f.text_field :postcode
    %li
      = f.label :website
      = f.text_field :website
    %li
      = f.label :phone_number
      = f.text_field :phone_number
    %li.checkbox
      = f.label :main_venue
      = f.check_box :main_venue
    %li.checkbox
      = f.label :published
      = f.check_box :published
    %li
      %button.button.save{:type => 'submit'}
        Save