%li.location{:data => {:lat => venue.lat, :lng => venue.lng, :venue_name => venue.name}}
  %h5= venue.name
  - unless venue.venue_type.blank?
    -if venue.venue_type && !venue.main_venue
      %span.type
        = h venue.venue_type.name
  = markdown venue.description unless venue.description.blank?
  %p.address
    = h venue.address_1
    = h venue.address_2
    = h venue.address_3
    = h venue.city
    = h venue.county
    = h venue.country
    = h venue.postcode
  %ul.contact
    %li
      Telephone:
      = h venue.phone_number
    %li= link_to 'Website', venue.website unless venue.website.blank? 
    %li= link_to 'Get Directions', "http://maps.google.com/maps?f=d&daddr=#{venue.lat},#{venue.lng}"