- title "Venues"

- unless current_subdomain.blank?

  #map_canvas
    
  %table
    %tr
      %th Name
      %th Description
      %th Type
      %th Address 1
      %th Address 2
      %th Address 3
      %th City
      %th County
      %th Postcode
      %th Lat
      %th Lng
      %th Website
      %th Phone number
      %th Published
    - for venue in @venues
      %tr.location{:data => {:lat => venue.lat, :lng => venue.lng, :venue_name => venue.name}}
        %td= h venue.name
        %td= h venue.description
        %td= h venue.venue_type.name unless venue.venue_type.blank?
        %td= h venue.address_1
        %td= h venue.address_2
        %td= h venue.address_3
        %td= h venue.city
        %td= h venue.county
        %td= h venue.postcode
        %td= h venue.lat
        %td= h venue.lng
        %td= h venue.website
        %td= h venue.phone_number
        %td= h venue.published
- else
  %section.item_list
    = link_to "New Venue", new_user_event_venue_path, :class=>'button add'
    %h3 Your Event Venues
    %ul
      - for venue in @venues
        %li{:class=> venue.published ? '':'disabled'}
          = link_to 'Edit', edit_user_event_venue_path(current_user, @event, venue), :class=>'button manage'
          = venue.name
          = link_to 'Delete', user_event_venue_path(current_user, @event, venue), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'
  %section.item_list
    = link_to "New Venue Type", new_user_event_venue_type_path, :class=>'button add'
    %h3 Your Event Venue Types
    %ul
      - for venue_type in @owned_venue_types
        %li
          = link_to 'Edit', edit_user_event_venue_type_path(current_user, @event, venue_type), :class=>'button manage'
          = venue_type.name
          = link_to 'Delete', user_event_venue_type_path(current_user, @event, venue_type), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'

  %section.item_list
    %h3 Global Event Venue Types
    %ul
      - for venue_type in @global_venue_types
        %li
          = venue_type.name