- form_for [current_user, @event, @talk, @speaker], :html => { :multipart => true } do |f|
  %ol
    %li
      = f.error_messages
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :biog
      = f.text_area :biog
    %li
      = f.label :portrait, "Speaker Image (Less than 1mb)"
      = f.file_field :portrait
    %li.published
      This speaker is
      %em{:class => @speaker.published ? "visible" : "hidden"}
        = @speaker.published ? "Visible" : "Hidden"
      %span
        = f.label :published, "Show"
        = f.check_box :published
    %li
      %button.button.save{:type => 'submit'}
        Save