- form_for [current_user, @event, @talk, @speaker], :html => { :multipart => true } do |f|
  %ol
    %li
      = f.error_messages
    %li
      = f.label :name
      = f.text_field :name
    %li
      = f.label :biog
      = f.text_area :biog
    %li
      = f.label :portrait
      = f.file_field :portrait
    %li.checkbox
      = f.label :published
      = f.check_box :published
    %li
      %button{:type => 'submit'}
        Save