- title "Speakers"

%table
  %tr
    %th Name
    %th Biog
    %th Event
    %th Talk
    %th Published
  - for speaker in @speakers
    %tr
      %td= h speaker.name
      %td= h speaker.biog
      %td= h speaker.event_id
      %td= h speaker.talk_id
      %td= h speaker.published
      %td= link_to 'Show', user_event_talk_speaker_path(current_user, @event, @talk, speaker)
      %td= link_to 'Edit', edit_user_event_talk_speaker_path(current_user, @event, @talk, speaker)
      %td= link_to 'Destroy', user_event_talk_speaker_path(current_user, @event, @talk, speaker), :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Speaker", new_user_event_talk_speaker_path
