- title "Speakers | #{@event.title}" 

- unless current_subdomain.blank?
  %ul.speakers
    - for speaker in @speakers
      %li.speaker
        = link_to image_tag(speaker.portrait.url(:thumb)), speaker, :alt => speaker.name, :title => speaker.name
        %h4= link_to speaker.name, speaker
        = simple_format speaker.biog
- else
  %section.item_list
    = link_to "New Speaker", new_user_event_speaker_path, :class=>'button add'
    %h3 Your Event Speakers
    #ajax_status
    %ul#sortable{:data => {:user_id => current_user.id, :event_id => @event.id, :model => 'speakers'}}
      - for speaker in @speakers
        %li[speaker]{:class=> speaker.published ? '':'disabled'}
          = link_to 'Edit', edit_user_event_speaker_path(current_user, @event, speaker), :class=>'button manage'
          = speaker.name
          %span
            = "speakers/#{speaker.cached_slug}"
          = link_to 'Delete', user_event_speaker_path(current_user, @event, speaker), :confirm => 'Are you sure?', :method => :delete, :class=>'button delete'