- title "#{@speaker.name} | #{@event.title}" 

- unless current_subdomain.blank?

  %article.speaker
    = image_tag @speaker.portrait.url(:thumb), :alt => @speaker.name, :title => @speaker.name
    %h4= @speaker.name
    = auto_link(markdown(@speaker.biog))
    %ul.talks
      - for talk in @speaker.talks
        %li= link_to talk.title, talk