!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield(:title) || t('title')
    %meta{:name=>'viewport', :content=>'width=900px'}
    %meta{:charset=>'utf-8'}
    %link{:rel=>'shortcut icon', :href => image_path("favicon.ico")}
    %link{:rel=>'icon', :type=>'image/png', :href => image_path("favicon.png")}
    %script{:type=>"text/javascript", :src=>"http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = javascript_include_tag "jquery", "jquery_ui", "jquery-notice", "farbtastic-min", "eventstreams_admin", :cache => false
    -unless RAILS_ENV == "production" || RAILS_ENV == "staging"
      = javascript_include_tag "minigrid", :cache => false
    = javascript_include_tag 'markedit/showdown', 'markedit/jquery-markedit'
    = stylesheet_link_tag 'eventstreams', :media => 'screen, projection', :cache => false
    -if RAILS_ENV == "production"
      = render :partial => 'layouts/ga' 
  %body
    %section#eventstreams
      %header
        .inner
          %h3#site_logo
            -if signed_in?
              =link_to "Eventstreams", user_events_path(current_user)
            -else
              =link_to "Eventstreams", root_path
          %nav#main
            %ul
              %li=link_to "Feedback", contact_path
              -if signed_in?
                %li=link_to "Your Events", user_events_path(current_user)
                / %li=link_to t('profile.link'), user_path(current_user)
                -if current_user.superadmin?
                  %li=link_to t('invites.link'), invites_path
                %li=link_to t('authentication.sign_out'), sign_out_path
              -else
                %li=link_to t('authentication.sign_in'), new_session_path
      -if signed_in? && @event && @event.valid?
        %nav#event_header
          .inner
            %ul
              %li.title= @event.title
              %li.site_link
                = link_to event_root_url(:subdomain => @event.subdomain), event_root_url(:subdomain => @event.subdomain)
                -unless @event.published
                  %span.published
                    This event is hidden
              
      = render :partial => 'layouts/flashes'
      %section.main
        .inner
          -if signed_in? && @event && @event.valid?
            %nav#event_content
              %ul
                %li= link_to "Event Details", edit_user_event_path(current_user, @event), :class=>'button'
                %li= link_to "Menu Order", user_event_event_menus_path(current_user, @event), :class=>'button'
                %li= link_to "Pages &amp; Links", user_event_event_pages_path(current_user, @event), :class=>'button'
                %li= link_to "Locations", user_event_venues_path(current_user, @event), :class=>'button'
                %li= link_to "Speakers", user_event_speakers_path(current_user, @event), :class=>'button'
                %li= link_to "Talks", user_event_talks_path(current_user, @event), :class=>'button'
                %li= link_to "Tracks", user_event_tracks_path(current_user, @event), :class=>'button'
                %li= link_to "Sponsors", user_event_sponsors_path(current_user, @event), :class=>'button'
                %li= link_to "Image Assets", user_event_event_assets_path(current_user, @event), :class=>'button'
                %li= link_to "Manage Tweets", user_event_tweets_path(current_user, @event), :class=>'button'
            %section.event_content
              -unless @event.menu_order_main.any?
                %p.empty_menu
                  Your event's main menu is empty,
                  = link_to "add links to content when available", user_event_event_menus_path(current_user, @event)
              = yield
          -else
            = yield