!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield(:title) || t('title')
    %meta{:name=>'viewport', :content=>'width=device-height'}
    %link{:rel=>'shortcut icon', :href => image_path("favicon.ico")}
    %link{:rel=>'icon', :type=>'image/png', :href => image_path("favicon.png")}
    = javascript_include_tag "jquery", 'application', :cache => false    
    = stylesheet_link_tag 'eventstreams', :media => 'screen, projection', :cache => false
  %body
    %section#eventstreams.es
      %header
        %h3#site_logo
          =link_to "Eventstreams", root_path
        %nav#main
          %ul
            %li=link_to "All Events", events_path
            -if signed_in?
              %li=link_to "New Event", new_user_event_path(current_user)
              %li=link_to t('profile.link'), user_path(current_user)
              %li=link_to t('authentication.sign_out'), sign_out_path
            -else
              %li=link_to t('authentication.sign_up'), new_user_path
              %li=link_to t('authentication.sign_in'), new_session_path
        = render :partial => 'layouts/flashes'
      %section.main
        .content
          = yield
