!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield(:title) || t('title')
    %meta{:name=>'viewport', :content=>'width=device-height'}
    %meta{:charset=>'utf-8'}
    %link{:rel=>'shortcut icon', :href => image_path("favicon.ico")}
    %link{:rel=>'icon', :type=>'image/png', :href => image_path("favicon.png")}
    %script{:type=>"text/javascript", :src=>"http://html5shim.googlecode.com/svn/trunk/html5.js"}
    = stylesheet_link_tag 'themes/event_base', "themes/#{@event.theme_name}", :media => 'screen, projection', :cache => false
    %link{:href => formatted_event_stylesheet_path, :media => "screen",:rel => "stylesheet", :type => "text/css"}
    = javascript_include_tag "jquery", "eventstreams", :cache => false
    -unless RAILS_ENV == "production" || RAILS_ENV == "staging"
      = javascript_include_tag "minigrid", :cache => false
    -if @main_venues || @other_venues || @venues
      %script{:type=>"text/javascript", :src=>"http://maps.google.com/maps/api/js?sensor=false"}
      = javascript_include_tag 'eventstreams_gmaps', :cache => false    
    -if RAILS_ENV == "production"
      -unless @event.google_analytics.blank?
        = render :partial => 'layouts/event_ga'  
  %body
    - if signed_in? && is_owner?(@event)
      %nav#event_admin_bar
        %ul
          -if @event.published?
            %li=link_to "Event Published", edit_user_event_url(current_user, @event, :subdomain => false)
          -else
            %li=link_to "Event Hidden", edit_user_event_url(current_user, @event, :subdomain => false)
          %li=link_to t('profile.link'), user_url(current_user, :subdomain => false)
          %li=link_to t('authentication.sign_out'), sign_out_url(:subdomain => false)
    %section#eventstreams_event.es
      %header
        .inner
          %h3#event_logo
            =link_to @event.title, root_path
          %p.tagline=@event.tagline unless @event.tagline.blank?
          %ul.event_meta
            %li
              %abbr.event_date{:title => @event.display_date_full}
                =@event.display_date
            -unless @event.twitter_account.blank?
              %li
                %a.twitter_account{:href=>"http://twitter.com/#{@event.twitter_account[1..-1]}"}
                  ="Follow #{@event.twitter_account}"
            -unless @event.hashtag.blank?
              %li
                %a.hashtag{:href=>"http://search.twitter.com/search?q=#{u @event.hashtag}"}
                  =@event.hashtag
      %nav#main
        .inner
          %ul
            - for event_menu in @event.menu_order
              %li{:class => event_menu.url == request.request_uri ? "active" : ""}
                = link_to event_menu.title, event_menu.url

      = render :partial => 'layouts/flashes'
      %section.main
        .inner
          = yield
      %section.footer
        .inner
          =link_to 'Powered by Eventstreams', root_url(:subdomain => false), :class => "powered_by"