!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield(:title) || t('title')
    %meta{:name=>'viewport', :content=>'width=device-height'}
    %link{:rel=>'shortcut icon', :href => image_path("favicon.ico")}
    %link{:rel=>'icon', :type=>'image/png', :href => image_path("favicon.png")}
    / = javascript_include_tag "jquery", 'application', :cache => false    
    = stylesheet_link_tag 'event', :media => 'screen, projection', :cache => false
    = stylesheet_link_tag formatted_event_stylesheet_path()
    = javascript_include_tag "jquery", "eventstreams", "minigrid", :cache => false
    -if @main_venues || @other_venues || @venues
      %script{:type=>"text/javascript", :src=>"http://maps.google.com/maps/api/js?sensor=false"}
      = javascript_include_tag 'eventstreams_gmaps', :cache => false    
  %body
    - if signed_in? && is_owner?(@event)
      %nav#event_admin_bar
        %ul
          -if @event.published?
            %li=link_to "Event Published", edit_user_event_url(current_user, @event, :subdomain => false)
          -else
            %li=link_to "Event Hidden", edit_user_event_url(current_user, @event, :subdomain => false)
          %li=link_to t('profile.link'), user_url(current_user, :subdomain => false)
          %li=link_to t('authentication.sign_out'), sign_out_url(:subdomain => false)
    %section#eventstreams_event.es
      %header
        .inner
          %h3#event_logo
            =link_to @event.title, root_path
          %p.tagline=@event.tagline unless @event.tagline.blank?
          .event_meta
            %abbr.event_date{:title => @event.display_date_full}
              =@event.display_date
            -unless @event.hashtag.blank?
              %a.hashtag{:href=>"http://search.twitter.com/search?q=#{u @event.hashtag}"}
                =@event.hashtag
      %nav#main
        %ul.inner
          - unless @event.published_event_pages.blank?
            - @event.published_event_pages.each do |e|
              %li=link_to e.title, event_page_path(e)
          %li=link_to 'Speakers', speakers_path unless @event.owned_speakers.blank? 
          %li=link_to 'Programme', tracks_path unless @event.owned_tracks.blank? 
          %li=link_to 'Venue', venues_path unless @event.owned_venues.blank? 
      %section.main
        .inner
          = yield
