!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title= yield(:title) || t('title')
    %meta{:name=>'viewport', :content=>'width=device-height'}
    %link{:rel=>'shortcut icon', :href => image_path("favicon.ico")}
    %link{:rel=>'icon', :type=>'image/png', :href => image_path("favicon.png")}
    = javascript_include_tag "jquery", 'application', :cache => false    
    = stylesheet_link_tag 'event', :media => 'screen, projection', :cache => false
  %body
    %section#eventstreams_event.es
      %header
        %h3#event_logo
          =link_to @event.title, root_path
        %nav#main
          %ul
            - unless @event.owned_event_pages.blank?
              - @event.owned_event_pages.each do |e|
                %li=link_to e.title, event_page_path(e)
        = render :partial => 'layouts/flashes'
      %section.main
        .content
          = yield
